<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/message-programming-svgrepo-com.svg" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="main-container">
      <div class="title">
        <h1><%= title %></h1>
        <a href="/new" class="new-message-btn">New Message</a>
      </div>
      <div class="content-wrapper">
        <ul>
          <% messages.forEach((message, index) => { %>
          <li>
            <strong><%= message.user %> </strong>: <%= message.text %>
            <br />
            <em>
              PHILIPPINES: <%= new Intl.DateTimeFormat('en-PH', { dateStyle:
              'medium', timeStyle: 'short', timeZone: 'Asia/Manila'
              }).format(new Date(message.added)) %>
              <br />
            </em>
            <a class="open-link" href="message/<%= index %>">Open</a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <footer>
      <div class="footer">
        <a href="https://github.com/frrst-ian">
          <img src="/github.svg" alt="github profile link" />
        </a>
      </div>
    </footer>
  </body>
</html>
